{
  "size": {{take}},
  "from": {{skip}},
  "_source": [
    "entityType",
    "id",
    "status",
    "image",
    "imageCopyright",
    "imageRatio",
    "imageColor",
    "firstNames",
    "lastName",
    "talentType",
    "commonRole"
  ],
  "sort": [
    {
      "_score": "desc"
    },
    "lastName_sort",
    "firstNames.sort"
  ],
  "query": {
    "bool": {
      "must": [
        { "match_all": {} }
        {{#hasTerm}}
        , {
          "multi_match": {
            "query": "{{term}}",
            "fields": [
              "firstNames",
              "lastName"
            ],
            "type": "cross_fields"
          }
        }
        {{/hasTerm}}
      ],
      "filter": [
        { "match_all": {} }
        {{#isPublic}}
        , { "term": { "status": "Active" } }
        {{/isPublic}}
      ]
    }
  }
}