{
  "size": {{take}},
  "from": {{skip}},
  "_source": [
    "entityType",
    "id",
    "status",
    "image",
    "imageCopyright",
    "imageRatio",
    "imageColor",
    "name",
    "eventType",
    "occurrenceType",
    "costType",
    "summary",
    "venueId",
    "venueName",
    "postcode",
    "latitude",
    "longitude",
    "dateFrom",
    "dateTo"
    {{#hasDates}}
    , "dates"
    {{/hasDates}}
  ],
  "sort": [
    {
      "_score": "desc"
    },
    "name_sort"
  ],
  "query": {
    "bool": {
      "should": [
        {{#hasTerm}}
        { "match": { "name": "{{term}}" } },
        { "match": { "venueName": "{{term}}" } },
        { "match": { "summary": "{{term}}" } }
        {{/hasTerm}}
      ],
      {{#hasTerm}}
      "minimum_should_match": 1,
      {{/hasTerm}}
      {{^hasTerm}}
      "minimum_should_match": 0,
      {{/hasTerm}}
      "filter": [
        { "match_all": {} }
        {{#isPublic}}
        , { "term": { "status": "Active" } }
        {{/isPublic}}
        {{#hasArea}}
        , { "term": { "area": "area" } }
        {{/hasArea}}
        {{#hasArtsType}}
        , { "term": { "artsType": "{{artsType}}" } }
        {{/hasArtsType}}
        {{#hasCostType}}
        , { "term": { "costType": "{{costType}}" } }
        {{/hasCostType}}
        {{#hasBookingType}}
        , { "term": { "bookingType": "{{bookingType}}" } }
        {{/hasBookingType}}
        {{#hasVenueId}}
        , { "term": { "venueId": "{{venueId}}" } }
        {{/hasVenueId}}
        {{#hasTalentId}}
        , { "term": { "talentId": "{{talentId}}" } }
        {{/hasTalentId}}
        {{#hasEventSeriesId}}
        , { "term": { "eventSeriesId": "{{eventSeriesId}}" } }
        {{/hasEventSeriesId}}
        {{#hasTags}}
        , { "terms": { "tags": {{#toJson}}tags{{/toJson}} } }
        {{/hasTags}}
        {{#hasNestedQuery}}
        , {
          "nested": {
            "path" : "dates",
            "query" : {
              "bool" : {
                "filter" : [
                  { "match_all": {} }
                  {{#hasDateFrom}}
                  , { "range": { "dates.date": { "gte": "{{dateFrom}}" } }}
                  {{/hasDateFrom}}
                  {{#hasDateTo}}
                  , { "range": { "dates.date": { "lte": "{{dateTo}}" } }}
                  {{/hasDateTo}}
                  {{#hasTimeFrom}}
                  , { "range": { "dates.to": { "gt": "{{timeFrom}}" } }}
                  {{/hasTimeFrom}}
                  {{#hasTimeTo}}
                  , { "range": { "dates.from": { "lte": "{{timeTo}}" } }}
                  {{/hasTimeTo}}
                  {{#hasAudience}}
                  , { "term": { "dates.tags": "{{audience}}" }}
                  {{/hasAudience}}
                ]
              }
            }
          }
        }
        {{/hasNestedQuery}}
        {{#location}}
        , { 
          "geo_bounding_box" : {
            "locationOptimized" : {
              "top_left" : {
                "lat" : {{north}},
                "lon" : {{west}}
              },
              "bottom_right" : {
                "lat" : {{south}},
                "lon" : {{east}}
              }
            },
            "type" : "indexed"
          }
        }
        {{/location}}
      ]
    }
  }
}
