{
  "size": {{take}},
  "from": {{skip}},
  "_source": [
    "entityType",
    "id",
    "status",
    "image",
    "imageCopyright",
    "imageRatio",
    "imageColor",
    "name",
    "eventType",
    "occurrenceType",
    "costType",
    "summary",
    "venueId",
    "venueName",
    "postcode",
    "latitude",
    "longitude",
    "dateFrom",
    "dateTo"
  ],
  "sort": [
    {
      "_score": "desc"
    },
    "name_sort"
  ],
  "query": {
    "bool": {
      "should": [
        {{#hasTerm}}
        { "match": { "name": "{{term}}" } },
        { "match": { "venueName": "{{term}}" } },
        { "match": { "summary": "{{term}}" } }
        {{/hasTerm}}
      ],
      {{#hasTerm}}
      "minimum_should_match": 1,
      {{/hasTerm}}
      {{^hasTerm}}
      "minimum_should_match": 0,
      {{/hasTerm}}
      "filter": [
        { "match_all": {} }
        {{#isPublic}}
        , { "term": { "status": "ACTIVE" } }
        {{/isPublic}}
      ]
    }
  }
}
