{
  "size": 5000,
  "from": 0,
  "_source": ["id"],
  "query": {
    "bool": {
      "filter": [
        { "term": { "status": "ACTIVE" } }
      ],
      "should": [
        { "term": { "occurrenceType": "Continuous" } },
        { "range": { "dateTo": { "gte": "{{dateTo}}" } }}
      ],
      "minimum_should_match": 1
    }
  }
}
