{
  "size": 1000,
  "from": 0,
  "_source": ["id", "externalEventId"],
  "query": {
    "bool": {
      "filter": [
        { "terms": { "externalEventId": {{#toJson}}ids{{/toJson}} } }
      ]
    }
  }
}
