{
  "size": {{take}},
  "from": {{skip}},
  "_source": [
    "entityType",
    "id",
    "status",
    "image",
    "imageCopyright",
    "imageRatio",
    "imageColor",
    "name",
    "venueType",
    "address",
    "postcode",
    "latitude",
    "longitude"
  ],
  "sort": [
    {
      "_score": "desc"
    },
    "name_sort"
  ],
  "query": {
    "bool": {
      "must": [
        { "match_all": {} }
        {{#hasTerm}}
        , { "match": { "name": "{{term}}" } }
        {{/hasTerm}}
      ],
      "filter": [
        { "match_all": {} }
        {{#isPublic}}
        , { "term": { "status": "ACTIVE" } }
        {{/isPublic}}
        {{#location}}
        , { 
          "geo_bounding_box" : {
            "locationOptimized" : {
              "top_left" : {
                "lat" : {{north}},
                "lon" : {{west}}
              },
              "bottom_right" : {
                "lat" : {{south}},
                "lon" : {{east}}
              }
            },
            "type" : "indexed"
          }
        }
        {{/location}}
      ]
    }
  }
}