service: artfullylondon-search-service

frameworkVersion: ">=1.2.0 <2.0.0"

package:
    individually: true

provider:
    name: aws
    runtime: nodejs8.10
    region: eu-west-1
    tracing: true
    environment: ${file(env.yml):${self:custom.stage}}
    iamManagedPolicies:
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess

plugins:
    - serverless-webpack
    - serverless-pseudo-parameters
    - serverless-plugin-tracing
    - serverless-offline-sns
    - serverless-offline

custom:
    project: artfullylondon
    stage: ${opt:stage}
    region: ${opt:region, self:provider.region}
    indexDocumentTopicName: IndexDocument-${self:custom.stage}
    webpack:
        webpackConfig: ./webpack.config.js
        includeModules:
            forceExclude:
                - aws-sdk
        packager: 'yarn'
    serverless-offline-sns:
        port: 4002
        debug: false
        accountId: 1111111111111

functions:
    graphql:
        handler: src/lambda/graphql-handler.handler
        events:
            - http:
                path: graphql
                method: post
                cors: true
            - http:
                path: graphql
                method: get
                cors: true
    indexDocument:
        handler: src/lambda/index-document-handler.handler
        timeout: 300
        events:
            - sns:
                topicName: ${self:custom.indexDocumentTopicName}
                displayName: Index a document so it is searchable
    # basicSearch:
    #     handler: src/lambda/basic-search-handler.handler
    #     events:
    #         - http:
    #             path: "search/basic"
    #             method: get
    #             cors: true
    #             integration: lambda
    #             request:
    #                 template:
    #                     application/json: >
    #                         {
    #                             "admin": "$input.params('admin')",
    #                             "term" : "$input.params('term')",
    #                             "entityType" : "$input.params('entityType')",
    #                             "north" : "$input.params('north')",
    #                             "west" : "$input.params('west')",
    #                             "south" : "$input.params('south')",
    #                             "east" : "$input.params('east')",
    #                             "skip" : "$input.params('skip')",
    #                             "take" : "$input.params('take')"
    #                         }
    #             response: ${self:custom.standardResponses}
    # eventAdvancedSearch:
    #     handler: src/lambda/event-advanced-search-handler.handler
    #     events:
    #         - http:
    #             path: "search/event"
    #             method: get
    #             cors: true
    #             integration: lambda
    #             request:
    #                 template:
    #                     application/json: >
    #                         {
    #                             "admin": "$input.params('admin')",
    #                             "term" : "$input.params('term')",
    #                             "dateFrom" : "$input.params('dateFrom')",
    #                             "dateTo" : "$input.params('dateTo')",
    #                             "timeFrom" : "$input.params('timeFrom')",
    #                             "timeTo" : "$input.params('timeTo')",
    #                             "area" : "$input.params('area')",
    #                             "medium" : "$input.params('medium')",
    #                             "style" : "$input.params('style')",
    #                             "audience" : "$input.params('audience')",
    #                             "costType" : "$input.params('costType')",
    #                             "bookingType" : "$input.params('bookingType')",
    #                             "venueId" : "$input.params('venueId')",
    #                             "talentId" : "$input.params('talentId')",
    #                             "eventSeriesId" : "$input.params('eventSeriesId')",
    #                             "north" : "$input.params('north')",
    #                             "west" : "$input.params('west')",
    #                             "south" : "$input.params('south')",
    #                             "east" : "$input.params('east')",
    #                             "skip" : "$input.params('skip')",
    #                             "take" : "$input.params('take')"
    #                         }
    #             response: ${self:custom.standardResponses}
    # presetSearch:
    #     handler: src/lambda/preset-search-handler.handler
    #     events:
    #         - http:
    #             path: "search/preset/{name}"
    #             method: get
    #             cors: true
    #             integration: lambda
    #             request:
    #                 template:
    #                     application/json: >
    #                         {
    #                             "admin": "$input.params('admin')",
    #                             "id" : "$input.params('id')",
    #                             "name" : "$input.params('name')"
    #                         }
    #             response: ${self:custom.standardResponses}
