service: artfullylondon-search-service

frameworkVersion: ">=1.2.0 <2.0.0"

package:
    individually: true

provider:
    name: aws
    runtime: nodejs8.10
    region: eu-west-1
    tracing: true
    environment: ${file(env.yml):${self:custom.stage}}
    iamManagedPolicies:
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
    iamRoleStatements:
        -
            Effect: "Allow"
            Action: "sns:*"
            Resource:
                Fn::Join:
                    - ""
                    -
                        - "arn:aws:sns:"
                        - Ref: "AWS::Region"
                        - ":"
                        - Ref: "AWS::AccountId"
                        - ":"
                        - ${self:custom.indexDocumentTopicName}
                        - "-"
                        - ${self:custom.stage}

plugins:
    - serverless-webpack
    - serverless-pseudo-parameters
    - serverless-plugin-tracing
    - serverless-offline-sns
    - serverless-offline

custom:
    project: artfullylondon
    stage: ${opt:stage}
    region: ${opt:region, self:provider.region}
    indexDocumentTopicName: IndexDocument
    webpack:
        webpackConfig: ./webpack.config.js
        includeModules:
            forceExclude:
                - aws-sdk
        packager: 'yarn'
    serverless-offline-sns:
        port: 4002
        debug: false
        accountId: 1111111111111

functions:
    autocompleteSearch:
        handler: src/lambda/autocomplete-search-handler.handler
        events:
            - http:
                path: "admin/search/auto"
                method: get
                cors: true
            - http:
                path: "public/search/auto"
                method: get
                cors: true
    basicSearch:
        handler: src/lambda/basic-search-handler.handler
        events:
            - http:
                path: "admin/search/basic"
                method: get
                cors: true
            - http:
                path: "public/search/basic"
                method: get
                cors: true
    eventAdvancedSearch:
        handler: src/lambda/event-advanced-search-handler.handler
        events:
            - http:
                path: "public/search/event"
                method: get
                cors: true
            - http:
                path: "admin/search/event"
                method: get
                cors: true
    presetSearch:
        handler: src/lambda/preset-search-handler.handler
        events:
            - http:
                path: "public/search/preset/{name}"
                method: get
                cors: true
            - http:
                path: "admin/search/preset/{name}"
                method: get
                cors: true
    indexDocument:
        handler: src/lambda/index-document-handler.handler
        timeout: 300
        events:
            - sns: 
                arn: arn:aws:sns:${self:custom.region}:#{AWS::AccountId}:${self:custom.indexDocumentTopicName}-${self:custom.stage}
